@{
}

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">404 - Not Found</h4>
        <p>La página a la que está intentando accesar no se encuentra disponible.</p>
    </div>
    <img src="https://c.tenor.com/Qf0w-d4L0MAAAAAC/tenor.gif" />
</div>
